@font-face {
  font-family: "Segoe-Mono-Boot";
  src: url("../Segoe-Mono-Boot.ttf.woff") format("woff"), url("../Segoe-Mono-Boot.ttf.svg#Segoe-Mono-Boot") format("svg"), url("../Segoe-Mono-Boot.ttf.eot"), url("../Segoe-Mono-Boot.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

.has-text-purple {
  color: #6f5499
}

pre {
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

::-webkit-input-placeholder {
  color: #acacac !important;
}

::-moz-placeholder {
  color: #acacac !important;
}

:-ms-input-placeholder {
  color: #acacac !important;
}

::placeholder {
  color: #acacac !important;
}

.hidden {
  display: none;
}

.shown {
  display: inline;
}

.breadcrumb-padding {
  padding: 1rem 0.5rem;
}

.title-padding {
  padding-left: 1.25rem;
}

.section-reduce-padding {
  padding-top: 1rem;
}

.section-reduce-padding-bottom {
  padding-bottom: 1rem;
}

.checkbox-padding {
  width: 0.9rem;
  height: 0.9rem;
  cursor: pointer;
}

.extra-right-padding {
  margin-right: 0.5rem;
}

.bottom-border {
  border-bottom: 1px solid lightgrey;
}

.rounded-image {
  border: 1px solid white;
  border-radius: 20%;
}

.image-label {
  padding: 1.5rem 1.75rem;
  color: #363636;
  font-weight: 700;
  cursor: pointer;
}

.image-label:hover {
  color: hsl(204, 86%, 53%);
  transition: all 0.4s linear;
}

.pagination-spacer {
  border: none;
  outline: none;
  padding: 0;
  background-color: white;
  width: 2.5rem;
}

.delete-spacer {
  margin-left: 0.5rem;
}

/* use for disabled pagination buttons */

.disable-hover:hover {
  cursor: not-allowed;
  border-color: #e6e6e6;
}

.input-message {
  font-family: "Segoe-Mono-Boot";
}

.message-title-padding {
  padding-bottom: 1.5rem;
}

.align-right {
  text-align: right;
}

.ticket-post-time {
  font-weight: 300;
  font-size: 0.8rem;
}

.ticket-id {
  font-weight: 300 !important;
}

.disable-pointer {
  cursor: default;
  pointer-events: none;
}

.client-message {
  border: 1px solid #bcc4cb;
  background-color: #ffffff;
  border-top: none;
  border: 0.5px solid #bcc4cb !important;
  border-top: none !important;
}

.client-message-header {
  background-color: #f5f5f5;
  color: #000000;
  border: 0.5px solid #bcc4cb;
}

.system-message-header {
  margin-bottom: 0.5rem;
}

.post-details {
  padding-right: 1rem;
}

.post-number {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.2rem;
  border: 0.5px solid #6f6f6f;
  border-radius: 20px;
  color: white;
  background-color: #6f6f6f;
}

.post-btn-aligner {
  margin-top: 1.8rem;
}

.star-container {
  border-top: 0.5px solid #dbe4ec;
  padding-top: 0.5rem;
  margin-top: 0.5rem;
}

.post-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}

#reply-container {
  display: grid;
  position: fixed;
  bottom: 0;
  right: 3rem;
  margin-bottom: 2rem;
  padding: 0.9rem;
  width: 5rem;
  height: 5rem;
  z-index: 2;
  cursor: pointer;
  background-color: #209cee;
  color: white;
  border-radius: 50%;
  font-weight: 500;
  font-size: 1.5rem;
  webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.center-in-parent {
  margin: auto;
}

.align_dash_msg {
  border: 1px solid black;
  margin-top: 1rem;
}

.dash-card {
  border-radius: 15px;
  min-height: 170px;
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
  cursor: pointer;
}

.dash-card:hover {
  transition: all 0.1s ease-in;
  box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, .2);
}

.dash-card-image {
  padding-top: 1rem;
}

.dash-inner-image {
  width: 40px;
}

.dash-badge {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.5rem;
  height: 1.9rem;
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
  background-color: #ff3860;
  border-radius: 0px 15px 0px 10px;
}

/* TODO: Set max width on a containing block element to prevenet text overflow in smaller devices and tablets for extremely large names */

@media only screen and (max-width: 600px) {
  .ticket-post-time {
    font-size: 0.75rem;
    margin-left: 0.1rem;
  }
  .post-number {
    font-size: 1rem;
    padding-left: 0.5rem;
  }
  .post-name {
    font-size: 0.9rem;
  }
  .post-details {
    padding-right: 0.3rem;
  }
  .post-staff {
    font-size: 0.7rem !important;
  }
  .dashboard-msg-sub {
    font-size: 0.9rem;
  }
}