.hidden {
    display: none;
}

.shown {
    display: inline;
}

.breadcrumb-padding {
    padding: 1rem 0.5rem
}

.title-padding {
    padding-left: 1.25rem;
}

.section-reduce-padding {
    padding-top: 1rem;
}

.checkbox-padding {
    width:0.9rem;
    height:0.9rem;
}

.extra-right-padding {
    margin-right: 0.5rem;
}

.bottom-border {
    border-bottom: 1px solid lightgrey;
}

.rounded-image {
    border: 1px solid white;
    border-radius: 50%;
}

.image-label {
    padding: 1.5rem 1.75rem;
    color: #363636;
    font-weight: 700;
    cursor: pointer;
}

.image-label:hover {
    color: hsl(204, 86%, 53%);
    transition: all 0.4s linear;
}

.pagination-spacer {
    border: none;
    outline: none;
    padding: 0;
    background-color: white;
    width: 2.5rem;
}

.delete-spacer {
    margin-left: 0.5rem;
}

/* use for disabled pagination buttons */
.disable-hover:hover {
    cursor: not-allowed;
    border-color: #e6e6e6;
}